/* STYLES BY COMPUTER */
	.st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
	.st1{fill:#999999;stroke:#000000;stroke-miterlimit:10;}
	.st2{font-family:'Athelas-Bold';}
	.st3{font-size:23px;}
	.st4{fill:#CCCCCC;stroke:#000000;stroke-miterlimit:10;}
	.st5{font-size:28px;}

/* STYLES BY VERA */
#1-left:hover {
    fill: hotpink;
}